*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(18, 100, 89);
    align-items: center;
    text-align: center;
}
.container{
    height: 70vh;
    width: 40vw;
    align-content: center;
    /* justify-content: center; */
}
.game{
    height: 60vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    
    
    

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    border-color: black;
    box-shadow: 0,0,1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    background-color:bisque;
    color: brown;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    color: #ad4141;
    background-color: rgb(255, 217, 0);
    border: none;
    border-radius: 1rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
#msg {
    color: antiquewhite;
    font-size: 8vmin;
}
.msg-container {
/* margin-bottom: 40vmin; */
height: 100vmin;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 5rem;
}
.hide{
    display: none;
}